In [32]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [46]:
urls = ["https://www.tapology.com/search/mma-event-figures/ppv-pay-per-view-buys-buyrate",
       "https://www.tapology.com/search/mma-event-figures/ppv-pay-per-view-buys-buyrate?page=2"]

headers = {
    "User-Agent": "Mozilla/5.0"
}

tables = [None, None]

for i, url in enumerate(urls):
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    tables[i] = soup.find("table", class_="siteSearchResults")

In [47]:
events = []

for table in tables:
    rows = table.find_all("tr")[1:]  # Skip the header row
    for row in rows:
        cols = row.find_all("td")
        if len(cols) >= 3:
            event_name = cols[0].get_text(strip=True)
            date = cols[4].get_text(strip=True)
            buys = cols[6].get_text(strip=True)

            if "UFC" in event_name:  # Filter only UFC events
                events.append({
                    "event": event_name,
                    "date": date,
                    "ppv_buys": buys
                })

In [48]:
df_scraped = pd.DataFrame(events)
df_scraped['ppv_buys'] = df_scraped['ppv_buys'].str.replace(',', '').astype('float64')
df_scraped['date'] = pd.to_datetime(df_scraped['date'], format='%Y.%m.%d').dt.strftime('%Y-%m-%d').astype(str)
df_scraped

       event        date   ppv_buys
0    UFC 229  2018-10-06  2400000.0
1    UFC 202  2016-08-20  1600000.0
2    UFC 257  2021-01-23  1600000.0
3    UFC 264  2021-07-10  1504737.0
4    UFC 246  2020-01-18  1353429.0
..       ...         ...        ...
206   UFC 37  2002-05-10    50000.0
207   UFC 43  2003-06-06    49000.0
208   UFC 39  2002-09-27    45000.0
209   UFC 42  2003-04-25    35000.0
210   UFC 35  2002-01-11    35000.0

[211 rows x 3 columns]

In [51]:
df_downloaded = pd.read_csv('ppv-buyrates.csv', encoding='cp1252')
df_downloaded['PPV Buys'] = df_downloaded['PPV Buys'].str.replace(',', '').astype('float64')
df_downloaded['Date'] = pd.to_datetime(df_downloaded['Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d').astype(str)
df_downloaded.head(50)

,Date,Event,PPV Buys,Unnamed: 3,Unnamed: 4
0,1997-05-30,UFC 13: The Ultimate Force,NaN,NaN,NaN
1,1997-07-27,UFC 14: Showdown,NaN,NaN,NaN
2,1997-10-17,UFC 15: Collision Course,NaN,NaN,NaN
3,1998-03-13,UFC 16: Battle in the Bayou,NaN,NaN,NaN
4,1998-05-15,UFC 17: Redemption,NaN,NaN,NaN
5,1999-01-08,UFC 18: The Road to the Heavyweight Title,NaN,NaN,NaN
6,1999-03-05,UFC 19: Ultimate Young Guns,NaN,NaN,NaN
7,1999-05-07,UFC 20: Battle for the Gold,NaN,NaN,NaN
8,1999-07-16,UFC 21: Return of the Champions,NaN,NaN,NaN
9,1999-09-24,UFC 22: Only One Can be Champion,NaN,NaN,NaN
10,1999-11-19,UFC 23: Ultimate Japan 2,NaN,NaN,NaN
11,2000-03-10,UFC 24: First Defense,NaN,NaN,NaN
12,2000-04-14,UFC 25: Ultimate Japan 3,NaN,NaN,NaN
13,2000-06-09,UFC 26: Ultimate Field of Dreams,NaN,NaN,NaN
14,2000-09-22,UFC 27: Ultimate Bad Boyz,NaN,NaN,NaN
15,2000-11-17,UFC 28: High Stakes,NaN,NaN,NaN
16,2000-12-16,UFC 29: Defense of the Belts,NaN,NaN,NaN
17,2001-02-23,UFC 30: Battle on the Boardwalk,NaN,NaN,NaN
18,2001-05-04,UFC 31: Locked and Loaded,NaN,NaN,NaN
19,2001-06-29,UFC 32: Showdown in the Meadowlands,NaN,NaN,NaN
20,2007-04-21,UFC 70: Nations Collide,NaN,NaN,NaN
21,2007-09-08,UFC 75: Champion vs. Champion,NaN,NaN,NaN
22,2008-10-18,UFC 89: Bisping vs. Leben,NaN,NaN,NaN
23,2009-02-21,UFC 95: Sanchez vs. Stevenson,NaN,NaN,NaN
24,2009-11-14,UFC 105: Couture vs. Vera,NaN,NaN,NaN
25,2010-10-16,UFC 120: Bisping vs. Akiyama,NaN,NaN,NaN
26,2010-11-13,UFC 122: Marquardt vs. Okami,NaN,NaN,NaN
27,2011-11-05,UFC 138: Leben vs. Muñoz,NaN,NaN,NaN
28,1993-11-12,UFC 1: The Beginning,86000.0,NaN,NaN
29,1994-03-11,UFC 2: No Way Out,300000.0,NaN,NaN
30,1994-09-09,UFC 3: The American Dream,90000.0,NaN,NaN
31,1994-12-16,UFC 4: Revenge of the Warriors,120000.0,NaN,NaN
32,1995-04-07,UFC 5: The Return of the Beast,260000.0,NaN,NaN
33,1995-07-14,UFC 6: Clash of the Titans,240000.0,NaN,NaN
34,1995-09-08,UFC 7: The Brawl in Buffalo,190000.0,NaN,NaN
35,1996-02-16,UFC 8: David vs. Goliath,300000.0,NaN,NaN
36,1996-05-17,UFC 9: Motor City Madness,141000.0,NaN,NaN
37,1996-07-12,UFC 10: The Tournament,96000.0,NaN,NaN
38,1996-09-20,UFC 11: The Proving Ground,92000.0,NaN,NaN
39,1997-02-07,UFC 12: Judgement Day,122000.0,NaN,NaN
40,2001-09-28,UFC 33: Victory in Vegas,75000.0,NaN,NaN
41,2001-11-02,UFC 34: High Voltage,65000.0,NaN,NaN
42,2002-01-11,UFC 35: Throwdown,35000.0,NaN,NaN
43,2002-03-22,UFC 36: Worlds Collide,55000.0,NaN,NaN
44,2002-05-10,UFC 37: High Impact,50000.0,NaN,NaN
45,2002-07-13,UFC 38: Brawl at the Hall,45000.0,NaN,NaN
46,2002-09-27,UFC 39: The Warriors Return,45000.0,NaN,NaN
47,2002-11-22,UFC 40: Vendetta,100000.0,NaN,NaN
48,2003-02-28,UFC 41: Onslaught,60000.0,NaN,NaN
49,2003-04-25,UFC 42: Sudden Impact,35000.0,NaN,NaN

In [64]:
events = pd.read_csv('Events.csv', delimiter=';', index_col=0)
events['DATE'] = pd.to_datetime(events['DATE'], format='%Y-%m-%d').dt.strftime('%Y-%m-%d').astype(str)
events

,EVENT,DATE,LOCATION
0,UFC Fight Night: Edwards vs. Brady,2025-03-22,"London, England, United Kingdom"
1,UFC Fight Night: Vettori vs. Dolidze 2,2025-03-15,"Las Vegas, Nevada, USA"
2,UFC 313: Pereira vs. Ankalaev,2025-03-08,"Las Vegas, Nevada, USA"
3,UFC Fight Night: Kape vs. Almabayev,2025-03-01,"Las Vegas, Nevada, USA"
4,UFC Fight Night: Cejudo vs. Song,2025-02-22,"Seattle, Washington, USA"
...,...,...,...
720,UFC 6: Clash of the Titans,1995-07-14,"Casper, Wyoming, USA"
721,UFC 5: The Return of the Beast,1995-04-07,"Charlotte, North Carolina, USA"
722,UFC 4: Revenge of the Warriors,1994-12-16,"Tulsa, Oklahoma, USA"
723,UFC 3: The American Dream,1994-09-09,"Charlotte, North Carolina, USA"
724,UFC 2: No Way Out,1994-03-11,"Denver, Colorado, USA"

In [65]:
events['PPV BUYS'] = np.nan

for i in range(len(events)):
    date = events.iat[i, 1]
    ppv_scraped = np.nan
    ppv_downloaded = np.nan
    if date in df_scraped.date.values:
        ppv_scraped = df_scraped.loc[df_scraped.date == date].iat[0, 2]
    if date in df_downloaded.Date.values:
        ppv_downloaded = df_downloaded.loc[df_downloaded.Date == date].iat[0, 2]

    if ppv_scraped != np.nan:
        events.iat[i, 3] = ppv_scraped
    if ppv_downloaded != np.nan:
        events.iat[i, 3] = ppv_downloaded

In [66]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 725 entries, 0 to 724
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   EVENT     725 non-null    object
 1   DATE      725 non-null    object
 2   LOCATION  725 non-null    object
 3   PPV BUYS  218 non-null    float64
dtypes: float64(1), object(3)
memory usage: 28.3+ KB

In [67]:
events.to_csv("Events.csv", sep=";")

In [1]:
import pandas as pd

In [4]:
events = pd.read_csv("Events.csv", sep=";", index_col=0)
events.tail(5)

,EVENT,DATE,LOCATION,PPV BUYS
720,UFC 6: Clash of the Titans,1995-07-14,"Casper, Wyoming, USA",240000.0
721,UFC 5: The Return of the Beast,1995-04-07,"Charlotte, North Carolina, USA",260000.0
722,UFC 4: Revenge of the Warriors,1994-12-16,"Tulsa, Oklahoma, USA",120000.0
723,UFC 3: The American Dream,1994-09-09,"Charlotte, North Carolina, USA",90000.0
724,UFC 2: No Way Out,1994-03-11,"Denver, Colorado, USA",300000.0